@font-face{
    font-family:"Segoe UI";
    src: url(../fonts/segoeui.ttf);
}
@font-face{
    font-family:"Adobe繁黑體StdB";
    src: url(../fonts/AdobeFanHeitiStd-Bold.otf);
}
@font-face{
    font-family:"Times New Roman B";
    src: url(../fonts/timesbd.ttf);
}
*{
	/*border: solid 5px blue;*/
	font-family: "Segoe UI","Adobe繁黑體StdB";
}
html,body{
	width: 100vw;
	height: 3150px;
	margin:0px;
	padding:0px;
	display: flex;
	flex-direction: column;
}
.Logo{
	width: 200px;
	height:auto;
	
}
/*包圍的元素置中*/
.center{
	display: flex;
	justify-content: center;
	align-items: center;
}
/*包圍的元素垂直排列|*/
/*                  ˇ*/
.column{
	display: flex;
	flex-direction: column;
}
/*包圍的元素水平排列 ->*/
.row{
	display: flex;
	flex-direction: row;
}

/*ProjectName*/
#ProjectName{
	background: linear-gradient(90deg, #759736 2%, #7ED183 75%); 
	height: 700px;
}
.firstChoose{
	width: 100vw;
	color: white;
}
.topName{
	font-size: 6vw;
	margin-left: 5vw;
	font-family: "Times New Roman B","Adobe繁黑體StdB";
}
.btnOut{
	margin-left: 25px;
}
.btn{
	font-size: 4vw;
	margin: 20px 15px;
	border: solid 1px white;
	border-radius: 50px;
	padding: 8px 25px;
	color: white;
	font-weight: 700;
	text-decoration:none;
	box-shadow: 0 7px 8px 0 rgba(112, 139, 51, 0.4), 0 8px 20px 0 rgba(112, 139, 51, 0.19);
}
.writedata{
	background: white;
	color: #759736;
}
/*ProjectBanner*/
#ProjectBanner{
	width: 100vw;
	height: 600px;
}
.banner{
	width: 100%;
	height: 100%;
	background-image: url("img/firstBanner.png");
	background-repeat: no-repeat;
	background-size: 100vw auto;
	position: relative;
}
.triangle{
	width: 0px;
	height: 0px;
	border-width: 30px;
	border-color: #759736 transparent  transparent  transparent ;
	border-style: solid;
	margin-bottom: 30px;
	-webkit-transition: all 1s;
	   -moz-transition: all 1s;
	     -o-transition: all 1s;
			transition: all 1s;
	position: absolute;
	bottom: -90px;
	left: 50%;
	transform: translateX(-50%);
}

/*ProjectForm*/
#ProjectForm{
	width: 100vw;
	height: 1500px;
}
form{
	width:100%;
	height:auto;
	margin-top: 5vh;
}
.photo{
	width: 250px;
	height: 250px;
	border: solid 3px #bdbdbd;
	border-radius: 100%;
	padding: 25px;
	margin-left: 75px;
}
.camera{
	width: 100px;
	height: auto;
}
.cameraWord{
	font-size: 3vw;
	margin-top: 15px;
	color: #bdbdbd;
}
#preview_progressbarTW_img{
	border: dashed 3px #bdbdbd;
	width: 450px;
	height: 337.5px;
	margin-left: 75px;
}

.select_place{
	cursor: pointer;
	-moz-appearance:none;
	-webkit-appearance:none;
	background: url("img/select_arrow.png") no-repeat right center transparent; /*箭頭標示圖案*/
	border: solid 3px #759736;
	width:80vw;
	height:85px;
	margin-top: 75px;
	padding-left:25px;
	background-color:white;
	color:#759736;
	border-radius: 7px;
	font-size: 40px;
	font-weight: 700;
}
.questionWord{
	position:relative;
	color: #759736;
	font-size: 40px;
	margin-top: 75px;
	margin-bottom: 25px;
	display: flex;
	justify-content: flex-start;
	font-weight: 700;
}
.emailCss{
	width: 80vw;
	height: 50px;
	border: solid 3px #bdbdbd;
	border-radius: 10px;
	font-size: 40px;
}
.storyWord{
	margin: 75px 0px;
	padding: 15px;
	width: 80vw;
	height:250px;
	font-size: 2.5vh;
	border: solid 3px #bdbdbd;
	border-radius: 10px;
}
.btn-sub{
	width: 25vw;
	background: #759736;
	color: white;
}

/*bottomPage*/
#bottomPage{
	width: 100vw;
	height: 100px;
	background-image: url("img/bottom_bg.png");
	background-repeat: no-repeat;
	background-size: 100%;
}

