#Idea.container-fluid
  .line-top
  .pjNameE Gift Karnma
  .pjNameC 傳善計畫
  .wordItr 當我能用一個行動，給你我的支持與協助......<br>當我在無助之餘，也能承接由你而來的幫助與關心......<br>就在付出與接受的當下，我與你..重新撰寫了一段新的章節.....
  .btn.btnGetQR 取得虛擬代幣
  br
  .btn.btnGetIdea Gift Karma理念